.login-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.login-background {
    position: absolute;
    top: -20px;
    left: -165px;
    width: 111%;
    height: 103%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.7);

}

.login-card {
  background-color: rgb(0 0 0 / 52%);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
  z-index: 1;
}

.login-logo {
  border-radius: 13px;
  background-color: #ffffff;
  max-width: 102px;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: rgba(39, 42, 46, 0.9)!important;
  border: none !important;
}

.form-control {
  border: none !important;
  color:#ffffff
}

.login-button:hover {
  background-color: rgba(196, 197, 197, 0.9) !important;
  color: #000000!important;
  font-weight: 500;
}

/* Estilos personalizados para los inputs */
.form-group {
  position: relative;
}

.custom-input {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid white !important;
  border-radius: 0;
  padding: 0.75rem 0;
  color: white!important;
  width: 100%;
}

.custom-input:focus {
  box-shadow: none !important;
  outline: none!important;
  border-color: #ffffff;
}

.custom-label {
  position: absolute;
  left: 0;
  top: 0.75rem;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  pointer-events: none;
}

.custom-input:focus ~ .custom-label,
.custom-input:not(:placeholder-shown) ~ .custom-label {
  top: -1.25rem;
  font-size: 0.8rem;
  color: #ffffff;
}

/* Ajuste del color del texto del placeholder */
.custom-input::placeholder {
  color: transparent;
}

/* Ajuste del color del texto cuando se está escribiendo */
.custom-input:focus,
.custom-input:not(:placeholder-shown) {
  color: white;
}