.layout-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
  margin-left: 120px;
}

.main-content.content-with-sidebar-closed {
  padding-left: 3%;
  margin-left: -72px !important;
}

.main-content-full {
  width: 100%;
  margin-left: 0;
}